// Specific CSS for your home-page
body {
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
}
h1 {
  font-family: 'IBM Plex Serif', serif;
}
h2 {
  font-family: 'IBM Plex Serif', serif;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-family: 'IBM Plex Serif', serif;
}

.search-form {
  border-radius: 10% / 50%;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.carousel-dimension {
  width: 500px;
  margin: 0 auto;
  .carousel-item{
    height:300px;
  }
}

.search-container {
  background:white;
  border: 50px;
  padding: 20px;
 }
 .w-100 {
  margin-top: 23px;
 }

// .carou-img{
//   height:300px;
//   width:500px;
// }
