// .grid-container {
//   display: grid;
//   grid-template-columns: auto auto auto auto;
// }
// .cards-container {
//   grid-column: 1 / span 2;
//   display: flex;
// }
// .map-container {
//   grid-column: 3 / 5;

// }
// .map img{
//   width: 50%;
// }
.all {
  text-align: center;
  margin-top: 20px;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px pink;
  font-size: 40px;
}
.card-trip-infos a {
  color: #33ffba;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px pink;
  font-size: 25px;
}
.grid-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  .cards-container  {
    width: 85%;
    height: 80%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    .card-trip {
      width: 30%;
    }
  }
  .map-container {
    width: 50%;
    height: 80%;
    margin-right: 10px;
    position: sticky;
    top: 0;
    #map {
      border-radius: 10px;
      height: 700px;
    }
  }
}
