<div class="footer">
  <div class="footer-links">
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-ghost" %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class:"btn btn-ghost" %>
    <% end %>
  </div>
</div>
