<form id = "Filter_Form">
  <label for = "location">Where: </label>
  <input type= "text" name= "location" id= "location">
  <label for= "duration">When:</label>
  <input type= "text" name = "duration" id= "duration">
  <input type= "submit">
</form>

