.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}
.navbar-light .navbar-nav .nav-link {
  color: $green;
  font-weight: bolder;
}
.the-name h1 {
  color: $green;
  font-size: 90px;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px pink;
}
